<ion-view view-title="Browse">
  <ion-content>
    <div class="list">
        <div class="item item-divider">
            Memory
        </div>
        <a class="item" href="#">
            Beggining end
        </a>
        <a class="item" href="#">
            n-back
        </a>

        <div class="item item-divider">
            Reaction Time
        </div>
        <a class="item" href="#/app/test/screenflash">
            Screen Flash
        </a>
        <a class="item" href="#/app/test/strooptest">
            Stroop Test
        </a>

        <div class="item item-divider">
            Decision Making
        </div>
        <a class="item" href="#/app/test/shopping">
            Shopping
        </a>

        <div class="item item-divider">
            Motor Skills
        </div>
        <a class="item" href="#/app/test/gravityball">
            Gravity Ball
        </a>

        <div class="item item-divider">
            Attention
        </div>
        <a class="item" href="#/app/test/basicmath">
            Basic Math
        </a>


    </div>
  </ion-content>
</ion-view>
