<ion-view view-title="Browse">
  <ion-content>
    <div class="list">
        <div class="item item-divider">
            Memory
        </div>
        <a class="item" href="#">
            Beggining end
        </a>
        <a class="item" href="#">
            n-back
        </a>

        <div class="item item-divider">
            Reaction
        </div>
        <a class="item" href="#/app/test/screenflash">
            Screen Flash
        </a>
        <a class="item" href="#">
            Stroop Test
        </a>

        <div class="item item-divider">
            Motor Skills
        </div>
        <a class="item" href="#/app/test/gravityball">
            Gravity Ball
        </a>

        <div class="item item-divider">
            Attention
        </div>
        <a class="item" href="#">
            Basic Math
        </a>

    </div>
  </ion-content>
</ion-view>
