<ion-view hide-nav-bar="true">
  <ion-content>
    <div id="title">
      Brain Hacks
    </div>
      <div class="logo">
        <img src="img/brain-logo.png">
      </div>
      <div id="menu_wrap">
        <ion-item class="menu_option main" href="#/app/browse">
          Browse
        </ion-item>
        <ion-item class="menu_option main" href="#/app/search">
          Search
        </ion-item>
        <ion-item class="menu_option main" href="#/app/home">
          Home
        </ion-item>
    </div>
  </ion-content>
</ion-view>
