<ion-view hide-nav-bar="true">
  <ion-content>
  <div id="wrapper" ng-controller="HomeCtrl as Ctrl">
    <div id="title">
      Brain Hacks
    </div>
    <!--
      <div class="logo">
        <img src="img/outline3.png">
      </div>
    -->
      <div id="menu_wrap">
        <ion-item class="menu_option main" href="#/app/browse">
            <div class="icon-holder">
              <a href="#/app/browse"><span class="icon-tools"></span></a>
            </div>
            <div class="stem"></div>
              TEST
        </ion-item>
        <ion-item class="menu_option main" ng-click="Ctrl.calibrate()">
            <div class="icon-holder">
              <a><span class="icon-linegraph"></span></a>
            </div>
            <div class="stem"></div>
              CALIBRATE
        </ion-item>
        <ion-item class="menu_option main" href="#/app/test/screenflash">
            <div class="icon-holder">
              <a href="#/app/test/screenflash"><span class="icon-gears"></span></a>
            </div>
            <div class="stem"></div>
              ANALYZE
        </ion-item>
    </div>
  </div>
  </ion-content>
</ion-view>
