<ion-view hide-nav-bar="true" view-title="Basic Math Test">
    <ion-content ng-controller="BasicMathCtrl as Ctrl">
    <div id="instructions" ng-hide="Ctrl.started">
        <h1 id="test-name">Basic Math</h1>
        <h3>Do the arithemtic problems quickly and accurately</h3>
        <div id="empty"></div>
        <ion-item class="menu_option main">
            <div class="icon-holder">
                <a ng-click="Ctrl.start()"><span class="icon-bike"></span></a>
            </div>
            <div class="stem"></div>
                START
        </ion-item>
    </div>
    <div id="game" ng-show="Ctrl.started">
            <h1>{{Ctrl.problem}}</h1>

            <ion-list>
                <ion-item ng-repeat="answer in answers" ng-click="Ctrl.checkResponse(answer.number)">
                <div  class="multiple-choice" ng-class="{'correct':answer.number == Ctrl.correctAnswer && Ctrl.clicked != 0,
                    'incorrect': answer.number != Ctrl.correctAnswer,
                    'clicked': answer.number==Ctrl.clicked
                }"> <a>{{answer.number}}</a></div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
