ion-side-menu{
	visibility: hidden;
}

body {
	background-image: url("../img/mountaindark.jpg");
	background-size: auto;


}
body *{
	background-color: transparent !important;
	background: transparent !important;
}


.scroll-content {
	background: rgb(47, 119, 200);
}

@-webkit-keyframes pulse {
	0% {background-color: #4A748E;}
	25% {background-color: #4A558E;}
	50% {background-color: #604A8E;}
	75% {background-color: #854A8E;}
	100% {background-color: #4A748E;}
}

#game .pull-center, .multiple-choice {
	width: 100%;
	text-align: center;
}

#instructions #test-name, #game h1{
	font-family: 'Lato-Light', Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 2px;
	line-height: 40px;
	margin: 0px;
	text-align: center;
	color: #fff;
	border: none;
	background: transparent;
	padding-bottom: 30px;
	padding-top:30px;
}

#game h2 {
	ont-family: 'Lato-Light', Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 40px;
	margin: 0px;
	text-align: center;
	color: #fff;
	border: none;
	background: transparent;
	padding-bottom: 60px;
	padding-top:30px;
}

#game h3 {
	ont-family: 'Lato-Light', Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 40px;
	margin: 0px;
	text-align: center;
	color: #fff;
	border: none;
	background: transparent;
	padding-bottom: 30px;
}

#instructions h3 {
	font-family: 'Lato-Light', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 20px;
	margin: 0px;
	text-align: center;
	color: #fff;
	border: none;
	background: transparent;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 100px;
	margin-bottom: 10px;
	border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 30px;
}

#instructions h4 {
	font-family: 'Lato-Light', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 20px;
	margin: 0px;
	text-align: center;
	color: #fff;
	border: none;
	background: transparent;
	padding-bottom: 5px;
	padding-top: 5px;
}

#instructions h5 {
	font-family: 'Lato-Light', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 20px;
	margin: 0px;
	text-align: center;
	color: yellow;
	border: none;
	background: transparent;
	padding-bottom: 10px;
	padding-top: 10px;
}

#instructions h6 {
	font-family: 'Lato-Light', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 20px;
	margin: 0px;
	text-align: center;
	color: white;
	border: none;
	background: transparent;
	padding-bottom: 40px;
	padding-top: 10px;
}

#empty {
	width: 100%;
	height: 150px;
}

.logo img {
	background-color: #4A748E;
	-webkit-animation: pulse 6s infinite alternate;
}

.icon-holder {
	display: inline-table;
    margin: 0px;
    border-radius: 50%;
	border: 1px solid #fff;
}

.icon-holder a {
	color: #fff;
  	display: table-cell;
  	vertical-align: middle;
  	text-align: center;
  	height: 50px;
 	width: 50px;
}

#game .icon-holder {
	margin-top: 50%;
}

#game .icon-holder a {
	color: #fff;
  	display: table-cell;
  	vertical-align: middle;
  	text-align: center;
  	height: 100px;
 	width: 100px;
}

.icon-tools, .icon-linegraph, .icon-gears, .icon-bike {
    font-size: 24px;
    color: #fff;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

.stem:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    /*border-left: 1pt solid #fff;*/
    border-style: solid;
    -webkit-border-image:
    -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(0, 0, 0, 0))) 1 100%;
    border-width: 1px;
}

div .stem {
	margin: 0px auto;
    width: 60%;
    height: 10px;
    position:relative;
    text-align:center
}
.list a {
	font-family: 'Lato-Light', Helvetica, Arial, sans-serif;
	/*font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;*/
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 2px;
	line-height: 20px;
	margin: 0px;
	text-align: center;
	color: #fff;
	border: none;
	background: transparent;
	padding-bottom: 10px;
}

.list .item-divider {
	font-family: 'Lato-Light', Helvetica, Arial, sans-serif;
	/*font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;*/
	font-size: 25px;
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 20px;
	margin: 0px;
	text-align: center;
	color: #fff;
	border: none;
	background: transparent;
	padding-bottom: 10px;
}

ion-item {
	border-style: none;

}

#exTxt {
	color: blue;
}

.item {
	broder: none;
	border-style: none;
}

#wrapper {
	margin-top: 0px;
}

.bar-header, .bar {
	font-family: 'Lato-Light', Helvetica, Arial, sans-serif;
	font-size: 45px;
	font-style: normal;
	font-weight: 100;
	letter-spacing: 5px;
	margin-top: 0px;
	margin-bottom: 30px;
	text-align: center;
	color: black;
}

ion-content #title {
	font-family: 'Lato-Light', Helvetica, Arial, sans-serif;
	/*font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;*/
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	line-height: 60px;
	font-weight: 100;
	letter-spacing: 2px;
	margin: 0px;
	text-align: center;
	color: #fff;
	border: none;
	padding-top: 30px;
	padding-bottom: 30px;
}

.logo img {
	display: block;
	width:30%;
	height:30%;
	margin: auto;
	padding:0px;
	border-top: 20px;
	border-bottom: 20px;
}

.menu_option, .main, .item,  .item-complex, .item-content{
	font-family: 'Lato-Light', Helvetica, Arial, sans-serif;
	/*font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;*/
	font-size: 15px;
	font-weight: 120;
	letter-spacing: 2px;
	line-height: 20px;
	margin: 0px;
	text-align: center;
	color: #fff;
	border: none;
	background: transparent;
	padding-bottom: 10px;

}

#menu_wrap {
	padding-top: 0px;
}

.pull-center {
	margin:auto;
	display:block;
}

.going-btn {
	padding:10px 10px;
	margin-top:60%;
}

.flash-back {
	background-color:red !important;
	background-image:none;
	-webkit-animation: none!important;
}

#game-wrap {
	height:100%;
}

.disable-user-behavior .list .item {
	padding: 10px;
	margin-bottom: 10px;
}
.multiple-choice {
	float: left;
	margin-left: 40%;
	height: 80px;
	width: 80px;
	font-size: 40px;
	font-weight: 100;
	border-radius: 50%;
	border: 1px solid transparent;
  	vertical-align: middle;
}

.multiple-choice a {
	color: #fff;
  	display: table-cell;
  	vertical-align: middle;
  	text-align: center;
  	height: 80px;
 	width: 80px;
}

.incorrect.clicked {
	-webkit-animation: colorChangeBorder 1s;
	border-color: transparent;
}
@-webkit-keyframes colorChangeBorder{
	0% {border-color:transparent;}
	50% {border-color :white;}
	100% {border-color: white}
}

.correct a {
	-webkit-animation: colorChangeFont 1s;
	color: white;
}
.correct {
	-webkit-animation: colorChangeBackground 1s;
		background-color: transparent;
}
@-webkit-keyframes colorChangeBackground{
	0% {background-color:transparent;}
	50% {background-color:white;}
	100%{background-color: white;}
}

@-webkit-keyframes colorChangeFont{
	0% {color:white;}
	50% {color: black;}
	100%{color: black;}
}
.activated {
	background-color: transparent !important;
}

#gravity-ball-canvas {
	width:100%;
	height:100%;
}

#gravity-ball-content > .scroll {
	width:100%;
	height:100%;
}

.gravity-ball-game {
	height:100%;
	width:100%;
}

#gravity-ball-timer {
	position:absolute;
	top:10px;
	left:10px;
	background-color:white;
}



.overlayBox {
	position: absolute;
	left: 50%;
	height: 98%;
	width: 100%;
	top: -80px;
	opacity: 0;
	margin: 80px 0 0 -149px;
}

.boxed {
	height: 50px;
	width: 100px;
	padding: 10px;
	border-radius: 6px;
	font-size: 30px;
}

.yes-text {
	background-color: rgba(0,256,0,0.2);
}

.yesBox {
	margin: 10% 60% 0% 10%;
	border: 2px solid #00FF00;
	color: rgb(0, 256, 0);
	-webkit-transform: rotate(-25deg);
}

.no-text {
	background-color: rgba(256,0,0,0.2);
}

.noBox {
	margin: 10% 10% 0% 60%;
	border: 2px solid #FF0000;
	color: rgb(256, 0, 0);
	-webkit-transform: rotate(25deg);
}

.fade {
	-webkit-transition: 0.2s opacity linear;
	transition: 0.2s opacity linear;
	opacity: 0;
}

td-cards {
	display: block;
}

td-card {
	position: absolute;
	/*border: 1px solid #999;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	border-radius: 6px;
	background-color: rgb(255,255,255);*/
}

td-card img {
	max-width: 100%;
	max-height: 100%;
}

.shopping-name {
	font-size:16px;
	letter-spacing: 0;
	line-height: 20px;
}

.item-shopping {
	color:black !important;
	background-color:#f5f5f5 !important;
}

.item-divider {
	text-decoration: underline;
	font-size: 16pt;
}
a.item {
	color:white;
}

.shopping-card {
	background-color:white !important;
}
