ion-content {
	background-image: url("/img/background.jpg")
}

ion-item {
	border-style: none;

}

.item {
	broder: none;
	border-style: none;
}


.bar-header, .bar {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 45px;
	font-style: normal;
	font-weight: 100;
	letter-spacing: 5px;
	margin-top: 0px;
	margin-bottom: 30px;
	text-align: center;
	color: black;
}

ion-content #title {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-weight: 100;
	letter-spacing: 3px;
	line-height: 30px;
	margin: 0px;
	text-align: center;
	color: white;
	border: none;
	padding-top: 20px;
}

.logo img {
	display: block;
	width:50%;
	height:50%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.menu_option, .main, .item,  .item-complex, .item-content{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 100;
	letter-spacing: 5px;
	line-height: 40px;
	margin: 0px;
	text-align: center;
	color: white;
	border: none;
	padding: 5px;
	background: transparent;

}

.pull-center {
	margin:auto;
	display:block;
}

.going-btn {
	padding:10px 100px;
	margin-top:60%;
}

.flash-back {
	background-color:red !important;
	background-image:none;
}

#game-wrap {
	height:100%;
}
